<a href="https://colab.research.google.com/github/bhargavbandloju/PDS_B24-2303A51747/blob/main/LAB2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
data = {
      'Order ID': [101, 102, 103, 104, 105, 106, 107],
          'Product': ['Laptop', 'Mouse', 'Monitor', 'Keyboard', 'Chair', 'Desk', 'Laptop'],
              'Quantity': [1, 5, 2, 4, 3, 2, 1],
                  'Price': [75000, 300, 12000, 1500, 3500, 7000, 75000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
    Order ID   Product  Quantity  Price
0       101    Laptop         1  75000
1       102     Mouse         5    300
2       103   Monitor         2  12000
3       104  Keyboard         4   1500
4       105     Chair         3   3500
5       106      Desk         2   7000
6       107    Laptop         1  75000

In [8]:
df['Total Sale'] = df['Quantity'] * df['Price']
print("\nWith Total Sale:\n", df)

With Total Sale:
    Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         1  75000       75000
1       102     Mouse         5    300        1500
2       103   Monitor         2  12000       24000
3       104  Keyboard         4   1500        6000
4       105     Chair         3   3500       10500
5       106      Desk         2   7000       14000
6       107    Laptop         1  75000       75000

In [9]:
high_value_orders = df[df['Total Sale'] > 1000]
print("\nOrders with Total Sale > 1000:\n", high_value_orders)

Orders with Total Sale > 1000:
    Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         1  75000       75000
1       102     Mouse         5    300        1500
2       103   Monitor         2  12000       24000
3       104  Keyboard         4   1500        6000
4       105     Chair         3   3500       10500
5       106      Desk         2   7000       14000
6       107    Laptop         1  75000       75000

In [10]:
product_sales = df.groupby('Product')['Quantity'].sum().reset_index()
most_sold_product = product_sales.sort_values(by='Quantity', ascending=False).iloc[0]
print("\nMost Sold Product:\n", most_sold_product)

Most Sold Product:
 Product     Mouse
Quantity        5
Name: 5, dtype: object

In [12]:
def discount_rule(sale):
      if sale > 50000:
              return 0.10  # 10% discount
      elif sale > 10000:
              return 0.05  # 5% discount
      else:
              return 0.00  # no discount

df['Discount Rate'] = df['Total Sale'].apply(discount_rule)
df['Discount Amount'] = df['Total Sale'] * df['Discount Rate']
df['Final Amount'] = df['Total Sale'] - df['Discount Amount']

print("\nDataFrame with Discount Info:\n", df)

DataFrame with Discount Info:
    Order ID   Product  Quantity  Price  Total Sale  Discount Rate  \
0       101    Laptop         1  75000       75000           0.10
1       102     Mouse         5    300        1500           0.00
2       103   Monitor         2  12000       24000           0.05
3       104  Keyboard         4   1500        6000           0.00
4       105     Chair         3   3500       10500           0.05
5       106      Desk         2   7000       14000           0.05
6       107    Laptop         1  75000       75000           0.10

   Discount Amount  Final Amount
0           7500.0       67500.0
1              0.0        1500.0
2           1200.0       22800.0
3              0.0        6000.0
4            525.0        9975.0
5            700.0       13300.0
6           7500.0       67500.0

In [13]:
summary_filename = "ecommerce_sales_summary.xlsx"
df.to_excel(summary_filename, index=False)
print(f"\nSummary exported to {summary_filename}")

Summary exported to ecommerce_sales_summary.xlsx